<div class="w-full">
  <div class="flex p-4">
    <mat-icon>storage</mat-icon>
    <span class="px-1 text-lg font-bold text-decoration-line">DETTAGLIO PRATICA</span>
    <div class="px-1 ml-2 text-lg font-bold text">({{ time | date: 'HH:mm:ss' }})</div>
    <div>
      <div class="absolute right-0">

        <button class="flex mr-2" mat-raised-button color="accent"  (click)="showAlerts($event)">
          <mat-icon class="cursor-pointer">notifications_active</mat-icon>
          Alerts
        </button>
        

        <button class="flex pt-4 mr-2" mat-raised-button color="primary" (click)="submitdata($event)">
          <!-- *ngIf="form"[disabled]="!form || !form.valid"-->
          Submit Data
        </button>

        <button class="flex mr-2" mat-raised-button color="warn" *ngIf="model.PracticeType !== '-'" (click)="resetPracticeType($event)">
          <!--[disabled]="!form || !form.valid"-->
          Reset Practice Type
        </button>
      </div>
    </div>
    <hr />
  </div>
  <hr />
  <div (buttonClickEvent)="handleButtonClick()"></div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
  </form>
</div>

<div *ngIf="dialogIsOpen">
  <div class="alert">
    <p>{{ alertMessage }}</p>
  </div>
</div>
<!-- class="z-50 w-1/2 columns-container xs:left-0 md:left-56" position="end" -->
<mat-drawer-container #drawerrightAll class="z-50 w-1/2 columns-container xs:left-0 md:left-56">
  <mat-drawer #drawerright [mode]="'push'" class="columns-sidenav">
    <h3>feasibilityDrawer | translate</h3>
    <div>
      <!-- three line list -->
      <mat-list mat-list>
        <mat-list-item *ngFor="let cost of costs" class="feasibilityListWidth">{{ cost.from }} - € {{ cost.cost }}</mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
</mat-drawer-container>

<mat-drawer-container #drawerleftall class="z-50 columns-container xs:left-0 md:left-56">
  <mat-drawer #drawerleft [mode]="'push'" class="columns-sidenav">
    <h3>alertsDrawer ! translate</h3>
    <div>Alerts ------</div>
  </mat-drawer>
</mat-drawer-container>
