<div class="w-full">
  <div class="flex p-4">  
    <mat-icon>storage</mat-icon>
    <span class="px-1 text-lg font-bold text-decoration-line">AGENTI</span>
</div>
  <hr>
    <app-mdtable
      [datasource]="data"
      [datacolumns]="datacolumns"
      [dataconfig]="dataconfig"
      [datashow] = "datashow"
      [localStorageMDTable]="localStorageMDTable"
      (action)="fromMdtableChild($event)"></app-mdtable>
  </div>
  
  <mat-drawer-container #draweralledit class="columns-container xs:left-0 md:left-56" autosize>
    <mat-drawer #draweredit class="columns-sidenav">
      <h3>Modifica</h3>
      <form #myForm="ngForm" (ngSubmit)="updateOnConfirm()">
      <div class="grid gap-2 m-1 text-center xs:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3">
        <mat-form-field *ngFor="let variable of editfieldsconfig; let index = index" class="">
          <mat-label>{{ variable | translate }}</mat-label>
          <input name="{{ variable }}" matInput
          [(ngModel)]="formData[variable]"
          />
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Aggiorna</button>
     </form>
    </mat-drawer>
    </mat-drawer-container>
    
    <mat-drawer-container #draweralladd class="columns-container xs:left-0 md:left-56" autosize>
    <mat-drawer #draweradd class="columns-sidenav">
      <h3>Inserisci</h3>
      <form #myForm="ngForm" (ngSubmit)="addOnConfirm()">
        <div class="grid gap-2 m-1 text-center sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3">
        <mat-form-field *ngFor="let variable of addfieldsconfig; let index = index" class="">
          <mat-label>{{ variable | translate }}</mat-label>
          <input name="{{ variable }}" [(ngModel)]="formData[variable]"  matInput
          />
        </mat-form-field>
      </div>
      
      <button mat-raised-button type="submit" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Inserisci</button>
      </form>
    </mat-drawer>
  </mat-drawer-container>
  

